{
    "clients": [
        {
            "name": "client",
            "wgListen": ":50000",
            "wgFwmark": 0,
            "proxyEndpoint": "{{ IP_subject_alt_name }}:{{ wireguard_port }}",
            "proxyMode": "{{ wireguard_obfus_mode }}",
            "proxyPSK": "{{ swgp_go_psk }}",
            "proxyFwmark": 0,
            "mtu": {{ 1420 - reduce_mtu|int }},
            "batchMode": ""
        }
    ]
}
